<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ytx222.novel_app3">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <!-- <uses-permission android:name="android.permission.INTERNET"/> -->
	<!-- 文件权限 写外部存储器 -->
	<!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> -->
	<!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/> -->
	<!-- 保存屏幕常亮 -->
	<!-- <uses-permission android:name="android.permission.WAKE_LOCK" /> -->
</manifest>
